.container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.content{
    width: 100%;
    min-height: 100%;
    background-color: red;
}

/* Hero styles */

.hero{
width: 100%;
gap: 10px;
background-color: red;
/* min-height: 700px; */
display: grid;
grid-template-columns: 1fr 1fr;
padding: 25px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    gap: 25px;
}



